$size: 100vw;

.cell {
  width: 100%;
  height: ($size * 0.15);
  
  background-repeat: no-repeat;
  background-size: auto 100%;
  background-position: center center;
  &.possibleMovement {
    &:hover {
      background-image: url("/select_ative.png");
      background-color:rgba(0,0,0,0.0);
      animation: into_hover 0.3s;
      opacity: 1;
    }
  }

  &.floor1{
    background-image: url("/floor1.png");
  }
  &.floor2{
    background-image: url("/floor2.png");
  }
  &.floor3{
    background-image: url("/floor3.png");
  }

  &.player {
    background-image: url("/persona1.png");
    animation: persona_front 0.4s infinite;

    &:after{
      position: absolute;
      top:-40px;
      width:calc(50px + 15vw);
      content: "I need protect that car for robots...";
      background-color: #fff;
      border-radius: 20px;
      padding: 10px;
      font-size: calc(5px + 1vw);
      color: #312736;
      opacity: 0;
      animation: ballon 6s;
      animation-delay: 2s;
      
    }
  }

  &.enemy {
    background-image: url("/robot.png");
    animation: anima_robot 1s infinite;
  }

  &.wall {
    background-image: url("/wall.png");
  }

  &:hover {
    // background-image: url("/select_inative.png");
    background-color:rgba(0,0,0,0.06);
    
  }
}

.row {
  position: relative;
  width: $size;
  height: 100%;
  display: flex;
  z-index: 100;
}

@keyframes persona_front {
  0% {
    background-image: url("/persona1.png");
  }
  25% {
    background-image: url("/persona2.png");
  }
  50% {
    background-image: url("/persona3.png");
  }
  75% {
    background-image: url("/persona2.png");
  }
}


@keyframes into_hover {
 from {
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}


@keyframes ballon {
  0% {
     opacity: 0;
   }
   10% {
    opacity: 1;
  }
  90% {
    opacity: 1;
  }
   100%{
     opacity: 0;
   }
 }
 






@keyframes anima_robot {
  0% {
   margin-top: 0;
  }
  50% {
    margin-top: -10px;
  }
  100% {
    margin-top: 0;
  }
}



