.cell {
  width: 75px;
  height: 100px;
  background-color: bisque;
  float: left;
  display: inline-block;

  &.possibleMovement {
    &:hover {
      background-color: green;
    }
  }

  &.player {
    background-color: blue;
  }

  &.enemy {
    background-color: yellow;
  }

  &.wall {
    background-color: brown;
  }

  &.refri {
    background-color: darkblue;
  }

  &.trash {
    background-color: gray;
  }

  &.arcade {
    background-color: blueviolet;
  }

  &.exit {
    background-color: cyan;
  }

  &:hover {
    background-color: red;
  }
}

.row {
  display: block;
  width: 100%;
  float: left;
}
